.form {
  background-color: var(--secondary-clr-3);
  min-height: 600px;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.form__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__container h1 {
  text-align: center;
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 800;
  font-family: var(--display-title);
}

.form__container p {
  text-align: center;
}

@media (width <= 768px) {
  .form__container {
    width: 90%;
    margin: 0 auto;
  }
}

form {
  min-width: 300px;
}

form label {
  margin-bottom: -20px;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 700;
}

form input {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

form select {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

form input[value] {
  font-size: 1rem;
  font-weight: 700;
}

#submitBtn {
  border: none;
  background-color: var(--primary-clr-yellow);
  font-size: clamp(1rem, 3vw, 1.2rem);
  font-weight: 800;
}
