header{
    min-height: 90px;
    width: 100%;
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.header__nav--lists{
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        list-style: none;
}