@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

/* VARIABLES */

:root{
  --primary-clr: #495e57;
  --primary-clr-yellow: #f4ce14;
  --secondary-clr-1: #ee9972; 
  --secondary-clr-2: #fbdabb;
  --secondary-clr-3: #edefee;
  --secondary-clr-4: #333;

  /* Typeface */
  --display-title: 'Markazi Text', serif; /* 64px - Hero title and subtitle */
  --descriptive-texts: 'Karla', sans-serif; /* CTA, section title, descriptive and others */
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}